body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.calculator {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.display {
    background-color: #444;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 32px;
    text-align: right;
    border: 1px solid #000000;
    background-color: rgb(53, 219, 12);
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    width: 100%;
    height: 70px;
    font-size: 30px;
    background-color: #555;
    color: white;
    border: 1px solid #000000;
    cursor: pointer;
}

.btn:hover {
    background-color: #777;
}